.pop-box {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  border: 1px solid #fff;
  padding: 1.5rem;
}

.dotnet-purple {
  background-color: rgba(81, 43, 212, 0.5);
  border: .3rem dotted #28c2d1;
  color: #28c2d1;
}

.dotnet-badge {
    background-color: rgb(81, 43, 212);
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .8rem;
}

.large-text {
  font-size: 2rem;
  font-weight: 900;
}