@page "/"

<!-- touch -->

<PageTitle>.NET 💜 GitHub Actions</PageTitle>

<div class="p-2">
    <h1 class="display-4 pop-box text-center fw-bold">
        Mod <span class="dotnet-badge">.NET</span> bot: 
        <span style='color: magenta;'>Gallery</span></h1>
    <br>
    <BotGallery ImageNames="_imageNames" />
    <br>
    <blockquote class="blockquote text-center pop-box shadow-lg large-text dotnet-purple">
        <p>Get inspired by these .NET Bot images!</p>
        <footer class="blockquote-footer">
            Build your own 
            <cite class=".NET mod bot">
                <a href="https://mod-dotnet-bot.net" target="_blank">
                https://mod-dotnet-bot.net
                </a>
            </cite>
        </footer>
    </blockquote>
</div>

@code {
    private readonly string[] _imageNames = new[]
    {
        "anniversary-1.png", "anniversary-2.png", "anniversary-3.png",
        "as1.png", "as2.png", "as3.png", "as4.png", "as5.png",
        "dotnet-bot_kamckinn.png", "dotnet-bot-1.png", "dotnet-bot-2.png",
        "dotnet-bot-3.png", "dotnet-bot-7.png", "dotnet-bot.png",
        "my-dotnet-bot-mod-1.png", "my-dotnet-bot-mod-2.png", 
        "my-dotnet-bot-mod-3.png", "my-dotnet-bot-mod-beth1.png",
        "my-dotnet-bot-mod-beth2.png", "my-dotnet-bot-mod.png"
    };
}
