.pop-box {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  border: .2rem solid #fff;
  padding: 1.5rem;
}

.dotnet-purple {
  background-color: rgba(81, 43, 212, 0.5);
  border: .2rem solid #28c2d1;
  color: #28c2d1;
}

.dotnet-badge {
  background-color: rgb(81, 43, 212);
  padding: .5rem 1rem;
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.large-text {
  font-size: 2rem;
  font-weight: 900;
}